<% include partials/header %>
 <h1><%=song.title%></h1>
 <hr/>
<p>
    Album : <%=song.album%>
</p>
<p>
    Artist : <%=song.artist%>
</p>
<% if (song.year) { %>
    <p>
        Year : <%=song.year%>
    </p>
<% } %>
<% if (song.bpm) { %>
    <p>
        BPM : <%=song.bpm%>
    </p>
<% } %>
<% include partials/footer %>
